################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChangeSpice/Release
/ChangeSpice/Debug
/.vs/ChangeSpice/v16
